@import "tailwindcss";

  @keyframes fade-in-scale {
    0% {  transform:  rotate(-3deg)}
    50%{  transform:  rotate(3deg)}
    100% {  transform:rotate(-3deg)  }
  }

  .fade-in-scale {
    animation: fade-in-scale 3s infinite;
  }

  @keyframes myclass {
    0%{ transform: scale(1);}
    50%{ transform: scale(0.9);}
    100%{ transform: scale(1);}
  }

  .myclass
  {
    animation:myclass 5s infinite
  } 


